html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-info {
    --bs-bg-opacity: 1;
    background-color: rgb(11 191 73) !important;
}

.customNavbar {
    background-color: antiquewhite;
    border-radius: 10px;
}

.customNavItem {
    border-radius: 10px;
    margin-left: 5px;
    font-weight: 500;
    color: white;
}

    /*.customNavItem:hover {*/
    /*box-shadow: 0 0 0 0.1rem #ff0086bd, 0 0 0 0.25rem #258cfb91;*/
    /*background-color: #FFC312;
        color: black !important;
    }*/
    .customNavItem:hover {
        background-color: white;
    }

        .customNavItem:hover .nav-link {
            color: black !important;
        }

.btn-rounded {
    border-radius: 25px;
}

.btn_addItem {
}

.btn_removeItem {
}

    .btn_removeItem:hover {
        color: black;
        background-color: red;
    }

.btn_food_quantity {
}

.food_total_quantity {
}

.food_add_btn_div {
}

.food_add_remove_btn_div {
}

.btn_request_to_conform {
}

.btn_conform_order_sr {
}

.btn_Cancle_Item {
}

.btn_Remove_Cart_Item {
}



.cartDiv {
}

.cartValue {
}
