@model CanteenManage.Models.OrderHistoryPageDataModel
@using CanteenManage.Utility;

@{
	ViewData["Title"] = "My Orders";
}

@section HeadSection {
	<link rel="stylesheet" href="~/css/customStyles.css">
	<style>

	</style>
}

<div class=" container-fluid h-100" style="">

	<div class="d-flex justify-content-between">
		<div class="row">
			<div class="col">
				<h3>Orders History</h3>
			</div>
		</div>

	</div>
	<br />

	<div class="row row-cols-1 row-cols-md-3">

		@(
				await Html.PartialAsync(CustomDataConstants.CustomViewPath + "\\_MyOrderHistoryListPanelView", new MyOrderListPanelViewModel()
		{
			PanelTitle = "Breakfast",
			FoodOrders = Model.BreakFastFoodOrders,
			FoodType = CanteenManage.Utility.FoodTypeEnum.Breakfast
		})
				)
		@(
				await Html.PartialAsync(CustomDataConstants.CustomViewPath + "\\_MyOrderHistoryListPanelView", new MyOrderListPanelViewModel()
		{
			PanelTitle = "Lunch",
			FoodOrders = Model.LunchFoodOrders,
			FoodType = CanteenManage.Utility.FoodTypeEnum.Lunch
		})
				)
		@(
				await Html.PartialAsync(CustomDataConstants.CustomViewPath + "\\_MyOrderHistoryListPanelView", new MyOrderListPanelViewModel()
		{
			PanelTitle = "Snacks",
			FoodOrders = Model.SnaksFoodOrders,
			FoodType = CanteenManage.Utility.FoodTypeEnum.Snacks
		})
				)

	</div>

	<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Review</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form asp-action="addReview">
					<div class="modal-body">

						<input type="hidden" name="order_id" id="order_id" value="0" />
						<div class="form-check form-check-inline" style="margin:1px;padding:5px">
							<input type="radio" class="btn-check" name="options" id="option1" value="1" autocomplete="off">
							<label class="btn btn-outline-info" for="option1">
								<img src="~/images/emoji/Emoji1.png" alt="Sad" style="width: 30px; height: 30px;" />
							</label>
						</div>
						<div class="form-check form-check-inline" style="margin:1px;padding:5px">
							<input type="radio" class="btn-check" name="options" id="option2" value="2" autocomplete="off">
							<label class="btn btn-outline-info" for="option2">
								<img src="~/images/emoji/Emoji2.png" alt="Sad" style="width: 30px; height: 30px;" />
							</label>
						</div>
						<div class="form-check form-check-inline" style="margin:1px;padding:5px">
							<input type="radio" class="btn-check" name="options" value="3" id="option3" autocomplete="off">
							<label class="btn btn-outline-info" for="option3">
								<img src="~/images/emoji/Emoji3.png" alt="Sad" style="width: 30px; height: 30px;" />
							</label>
						</div>
						<div class="form-check form-check-inline" style="margin:1px;padding:5px">
							<input type="radio" class="btn-check" name="options" value="4" id="option4" autocomplete="off">
							<label class="btn btn-outline-info" for="option4">
								<img src="~/images/emoji/Emoji4.png" alt="Sad" style="width: 30px; height: 30px;" />
							</label>
						</div>
						<div class="form-check form-check-inline" style="margin:1px;padding:5px">
							<input type="radio" class="btn-check" name="options" id="option5" value="5" autocomplete="off">
							<label class="btn btn-outline-info" for="option5">
								<img src="~/images/emoji/Emoji5.png" alt="Sad" style="width: 30px; height: 30px;" />
							</label>
						</div>
						<div class="mb-3">
							<label for="message-text" class="col-form-label">Message:</label>
							<textarea class="form-control" name="review_text" id="message-text"></textarea>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal to View Review -->
	<div class="modal fade" id="viewReviewModal" tabindex="-1" aria-labelledby="viewReviewModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="viewReviewModalLabel">Feedback</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>
						<strong>Rating:</strong>
						<img src="" id="ratingimg" alt="Rating Emoji" style="width: 40px; height: 40px;" />
					</p>
					<p><strong>Comment:</strong> <span id="reviewText"></span></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


</div>

@section Scripts {
	<script src="~/js/reviewModals_Min.js"></script>
	<script>

	</script>
}

