@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "";
}
@* <h4> Something went wrong or You have Signed out . Login again form portal  </h4> *@

<!DOCTYPE html>

<html>
<head>
	<title>Login Page</title>
	<!--Made with love by Mutiullah Samim -->
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">




	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div class="container-fluid justify-content-center align-content-center text-center">
		<div class="d-flex align-items-center justify-content-center vh-100">
			<div class="card border-danger mb-3" style="">

				<div class="card-body text-danger">
					<img src="~/images/accessdenied1.jpg" class="img img-fluid" style="height:470px;width:500px;" />
					<h5 class="card-title">Access denied</h5>
					<p class="card-text">Something went wrong or You have Signed out.</p>
					<p class="card-text">Please login again form portal</p>
					<h5><a href="https://econnect.esspl.com/" class="btn btn-sm btn-primary">Esspl E-Connect</a> </h5>
				</div>
			</div>


			<div></div>
		</div>
	</div>

</body>
</html>
