@model CanteenManage.Models.CMDashboardViewDataModel

<!-- Welcome Page Content -->
<div class="flex items-center justify-center min-h-screen">
	<h1 class="text-center">Welcome</h1>
	<p class="text-gray-600 mb-6 text-lg text-center">
		Manage orders, update the menu, Food list, Order reports and keep our Employees happy..
	</p>
</div>
