@using CanteenManage.Utility
@model CanteenManage.Models.MyOrderViewDataModel

@{
	ViewData["Title"] = "My Orders";
}


@section HeadSection {
	<link rel="stylesheet" href="~/css/customStyles.css">
	<style>

	</style>
}
<div class=" container-fluid h-100" style="">

	<div class="d-flex justify-content-between">
		<div class="row">
			<div class="col">
				<h3>My Orders</h3>
			</div>
		</div>
		<a asp-action="Index" asp-controller="OrderHistory" class="btn btn-outline-info">History</a>
	</div>
	<br />
	<div class="row row-cols-1 row-cols-md-3">
		@(
				await Html.PartialAsync(CustomDataConstants.CustomViewPath + "\\_MyOrderListPanelView", new MyOrderListPanelViewModel()
		{
			PanelTitle = "Breakfast",
			FoodOrders = Model.BreakFastFoodOrders
		})
				)

		@(
				await Html.PartialAsync(CustomDataConstants.CustomViewPath + "\\_MyOrderListPanelView", new MyOrderListPanelViewModel()
		{
			PanelTitle = "Lunch",
			FoodOrders = Model.LunchFoodOrders
		})
				)

		@(
				await Html.PartialAsync(CustomDataConstants.CustomViewPath + "\\_MyOrderListPanelView", new MyOrderListPanelViewModel()
		{
			PanelTitle = "Snacks",
			FoodOrders = Model.SnaksFoodOrders
		})
				)

	</div>
</div>

